body {
    background-image: url("https://i.pinimg.com/originals/fd/40/a4/fd40a4b8b151c4e432106576187d03c9.gif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    width: 100%;
    max-width: 600px; 
    background-image: url('../../asset/arka2.png');
    display: block;
    height: auto;
}

#leaderboard {
    width: 100%;
    max-width: 320px; 
    height: auto;
    border: 1px solid black;
    background: transparent;
    margin-top: 20px;
}

#pauseMenu,
#gameOverMenu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    z-index: 1000;
}

#pauseMenu button,
#gameOverMenu button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%; 
}

#gameOverMenu {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff; 
    border: 2px solid #000;
}

@media (max-width: 768px) {
    #gameCanvas {
        max-width: 90%; 
    }

    #leaderboard {
        max-width: 80%;
    }

    .container {
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (max-width: 480px) {
    #gameCanvas {
        max-width: 100%; 
    }

    #leaderboard {
        max-width: 100%;
    }

    #pauseMenu button,
    #gameOverMenu button {
        padding: 8px 15px;
        font-size: 16px;
    }
}