body {
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/originals/fd/40/a4/fd40a4b8b151c4e432106576187d03c9.gif");
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.delete-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-container h1 {
    color: #d9534f;
    font-size: 100px;
    margin-bottom: 20px;
}

.delete-container p {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

.delete-container form {
    margin-top: 20px;
}

.delete-container button {
    background-color: #d9534f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.delete-container button:hover {
    background-color: #c9302c;
}

.delete-container a {
    display: inline-block;
    margin-top: 15px;
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}

.delete-container a:hover {
    text-decoration: underline;
}